body {
  box-sizing: border-box;
  margin: 0 2.5%;
  background-color: #111111;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

/* sessionspage */
.session__game {
  grid-area: game;
}

.session__venue {
  grid-area: venue;
  margin: 0;
}

.session__date {
  grid-area: date;
  margin: 0;
}

.session__profit {
  grid-area: profit;
  justify-self: center;
  margin: 0;
}

.session__edit--link {
  grid-area: edit;
  justify-self: center;
  margin: 0;
  color: white;
}

.session__container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "game ." "venue profit" "date edit";
  border-bottom: 1px solid gray;
}

@media screen and (max-width: 600px) {
  .session__container {
    display: grid;
    grid-template-areas: "game game" "venue profit" "date edit";
  }
}

.profit {
  color: #00ff00;
}

.loss {
  color: red;
}

.session__arrow--left {
  transform: rotate(90deg);
  color: black;
}

.session__arrow--right {
  transform: rotate(270deg);
  color: black;
}

.sessions__container--buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.session__page {
  display: inline;
}

.session__arrow--button {
  display: inline;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

/* header styles */
.header__container {
  height: 4em;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80% 20%;
  border: 2px double gray;
  border-top: none;
}

.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.nav__toggle-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .header__container {
    height: 4em;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    position: relative;
  }

  .nav__toggle-button {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__toggle--link {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.5em;
    outline: none;
    cursor: pointer;
  }

  .nav__container {
    display: none;
  }

  .hide-nav__toggle {
    visibility: hidden;
  }

  .nav__container--active {
    position: absolute;
    top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    background: white;
  }

  .nav__link {
    color: #111111;
  }
}

/* user widget styles */
.user-widget__container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.user-widget__options--container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.user-widget__greeting {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25em;
}

.user-widget__edit {
  color: white;
}

.user-widget__sign-out {
  padding: 0;
  font-size: 1em;
  color: white;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
}

.notsignedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

.user-widget__button--signup {
  background: white;
  border: none;
  color: #111111;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.25em;
  font-weight: 600;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.user-widget__button--signin {
  background: none;
  color: white;
  border: none;
  font-size: 1.25em;
  font-family: inherit;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .user-widget__greeting {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.25em;
  }

  .notsignedin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .notsignedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
  }

  .user-widget__greeting {
    display: none;
  }

  .user-widget__options--container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* graph styles */
.graph__container {
  margin-top: 5vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.graph__board {
  width: 100%;
  height: 100%;
}

/* results page */

.results__section {
  margin-top: 5vh;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.results__section--row {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid gray;
}

/* session form */

.session__input--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.session__stake--container {
  grid-area: stake;
}

.session__limit--container {
  grid-area: limit;
}

.session__game--container {
  grid-area: game;
}

.session__venue--container {
  grid-area: venue;
}

.session__buyin--container {
  grid-area: buyin;
}

.session__cashout--container {
  grid-area: cashout;
}

.session__date--container {
  grid-area: date;
}

.session__timelength--container {
  grid-area: timelength;
}

.session__form--submit {
  grid-area: submit;
}

.session__form--container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "stake limit game venue" "buyin buyin cashout cashout" "date date timelength timelength" ". submit submit .";
  gap: 1em 0;
}

.session__input--text {
  border: 1px solid gray;
  border-radius: 4px;
  color: white;
  font-family: inherit;
  background: none;
  height: 2em;
}

.session__input--text:selected {
  color: white;
  background: none;
}

::placeholder {
  color: #3affad;
  opacity: 0.7;
  font-style: italic;
  font-family: inherit;
}

.session__form--date {
  border: 1px solid gray;
  border-radius: 4px;
  color: #111111;
  font-family: inherit;
  background: white;
  height: 2em;
}

.session__form--submit {
  justify-self: center;
  width: 25%;
  height: 2em;
  background: white;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

.session__input--select {
  background: none;
  color: white;
  height: 2em;
  border: 1px solid gray;
  border-radius: 4px;
  font-family: inherit;
}

option {
  background: black;
  border: 1px solid gray;
}

.delete__button--container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 25%);
  padding-top: 4em;
  width: 100%;
}

.session__button--delete {
  grid-column: 2/4;
  justify-self: center;
  height: 2em;
  width: 25%;
  background: red;
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .session__form--container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "stake limit" "game venue" "buyin cashout" "date timelength" "submit submit";
  }

  .delete__button--container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-top: 4em;
    width: 100%;
  }

  .session__button--delete {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 400px) {
  .session__form--container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "stake" "limit" "game" "venue" "buyin" "cashout" "date" "timelength" "submit";
  }

  .delete__button--container {
    display: grid;
    grid-template-columns: 100%;
    padding-top: 4em;
    width: 100%;
  }

  .session__form--submit {
    width: 90%;
  }

  .session__button--delete {
    grid-column: 1/2;
    width: 90%;
  }
}

/* user input */

.user__form--container {
  width: 100%;
  margin-top: 2em;
}

.user-input__form--container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 1em;
}

.user__input--container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr;
}

.user-form__input {
  border: 1px solid gray;
  border-radius: 4px;
  color: white;
  font-family: inherit;
  background: none;
  height: 2em;
}

.user__input--button {
  justify-self: center;
  width: 25%;
  height: 2em;
  background: white;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  color: #111111;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .user__input--button {
    width: 50%;
  }
}

/* signin form */
.signin__form--container {
  width: 100%;
  margin-top: 4em;
  display: flex;
  justify-content: center;
}

.signin__form {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
}

.signin-form__input--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
