.header__container {
  background: yellow;
  height: 10vh;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80% 20%;
}

.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}

.nav__link {
  text-decoration: none;
}
